*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial;
    text-decoration: none;
}

.home{
    position: absolute;
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.navigation-pages{
    position:absolute;
    display: flex;
    flex-direction: column;
    top:60px;
    right:10px;
    width:80%;
    height: 90%;
}
.navigation{
    width:100%;
    height:45px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 6px;
}

.navigation .nav-pages{
    width:100%;
    display: flex;
    align-items:left;
}
.nav-pages ul{
    display: flex;
    padding-left:40px;
    gap: 50px;
}
ul li a{
    font-size: 14px;
    color:#ababab;
    text-transform: capitalize;
    letter-spacing: 1px;
}

 .uli li:hover a{
color:#7f64e9;
}
.uli li:hover{
    border-bottom: 2px solid #7f64e9;
}

form{
    position: relative;
    width:90%;
    height:fit-content;
    margin-left: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
form::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(230, 230, 230);
}
form::-webkit-scrollbar-thumb{
    width: 4px;
    height:20px;
    background-color: #b5b5b5;
}
.inputs{
    margin-top: 30px;
    position:relative;
    width: 100%;
    height:fit-content;
   display: flex;
   flex-direction: column;
   gap: 8px;
   padding-bottom: 18px;
}
.inputs input{
    position: relative;
    width: 80%;
    height: 45px;
    background-color: #fff;
    border-radius:4px;
    outline: none;
    border:1px solid #f2e4ff;
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
}
input::placeholder{
    position: absolute;
    top:6px;
    left:15px;
    color:#7f64e9d3;
    text-transform: capitalize;
}
.submit{
    position:sticky;
    background-color: #fff;
    bottom: 0;
    width:100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid #e3e3e3;

}
.submit .div{
    width:200px;
    height:40px;
    border:1px solid #1EB071;
    background: none;
    color:#1EB071;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.submit .del-save{
    width:300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
.del-save .del,
.del-save .save{
 width:120px;
 height:40px;
 letter-spacing: 1px;
 text-transform: capitalize;
 display: flex;
    align-items: center;
    justify-content: center;
 font-size: 14px;
 border-radius: 15px;
}
.del{ 
    border:1px solid #e8b9c3;
 color:#e26f88;
}
.save{
    background-color: #3eca8d;
    color:#fff;
}
dialog{
    top:50%;
    left:50%;
    translate: -50% -50%;
    width:350px;
    height:260px;
    border:none;
    overflow: hidden;
    background-color: #fefffe;
    border-radius: 15px;
    filter:drop-shadow(-2px -2px 10px #00000013);
}
dialog::backdrop{
    background-color: #3b4a5c48;
    backdrop-filter: blur(5px);
}

dialog form{
    position: relative;
    width: 100%;
    height: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .file{
    position: relative;
    top:55px;
    width:250px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content:space-around;
   
    background-color:#0094f6;
    border-radius: 15px;
    color:#fff;
    font-size: 15px;letter-spacing: 1px;
    cursor: pointer;
}
.file i{
    font-size: 25px;
}
.butt{
    position:absolute;
    bottom:40px;
    width:90%;
   height: 65px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.butt .anul,
.butt .imp{
    width:100px;
 height:40px;
 letter-spacing: 1px;
 text-transform: capitalize;
 display: flex;
    align-items: center;
    justify-content: center;
 font-size: 14px;
 border-radius: 15px;
 border: none;
}
.anul{ 
   background-color: #fae5ea;
 color:#e26f88;
}
.imp{
    background-color: #3eca8d;
    color:#fff;
}
input[type=file]{
    display: none;
}